

        
            :root {
                --font-color: #080606;
                --btn-color: #349250;
                --font-color: #FFE6C7;
                --bg-color1: #c7bbc3;
                --bg-color2: #3cafc1;
            }  
            
        [data-theme="halloween"] {
            --font-color: #454545;
            --btn-color: #FF6000;
            --font-color: #FFE6C7;
            --bg-color1: #9e6347;
            --bg-color2: rgb(107, 59, 58);
            --img-src:url("./images/hlwn.jpg")
        }
        
    
        
        

        [data-theme="XMAS"] {

            --font-color: #1b2f13;
            --btn-color: #FE0000;
            --font-color:#4c1e1e;
            --bg-color1:#bdb7b7;
            --bg-color2:#525850;
            --img-src:url("./images/xmas.jpg");

            
        
}
[data-theme="cinema"] {
    --font-color: #090a08;
    --btn-color: #302f2f;
    --font-color:#fff;
    --bg-color1:#1b1b17;
    --bg-color2:#464343;
    --img-src:url("./images/cinema.png");
    

}

[data-theme="spring"] {
    --font-color: #7e1859;
    --btn-color: #006afe;
    --font-color:#d71389;
    --bg-color1:#36f0af;
    --bg-color2:#7b8ade;
    --img-src:url("./images/spring.jpg");
}

[data-theme="spiderman"] {
    --font-color: #060606;
    --btn-color: #463a3a;
    --font-color:#131dd7;
    --bg-color1:#be0c0c;
    --bg-color2:rgb(27, 27, 52);
    --img-src:url("./images/spiderman.jpg");
}
   
[data-theme="barbie"] {
    --font-color: #060606;
    --btn-color: #e500fe;
    --font-color:#d7135b;
    --bg-color1:#f80df8;
    --bg-color2:#f7f3f6;
    --img-src:url("./images/barbie.jpg");
}
[lang-theme="fr"] {
    --ac:'acceuil';
    --prop:'a propos';
    --contact:'contact';
   --service: 'services';
   --section: 'section';
   --content: 'Contenu de la section';
    
}         
       
[lang-theme="twi"] {
    --ac:'Tuan Lekku';
    --prop:'Vekk Okira';
    --contact:'kora';
   --service: 'kara';
   --section: 'sec';
   --content: 'setho ransec...';
    
}            
   #ac:after{
    content: var(--ac);
   } 
   #prop:after{
    content: var(--prop);
   }    
   #servi:after{
    content: var(--service);
   } 
   #con:after{
    content: var(--contact);
   } 
    .section::before{

        content: var(--section);
    } 
    
    .content::before{

        content: var(--content);
    }  
       body {

            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            line-height: 1.6;
            transition: background-color 0.5s;
            background-color: var(--bg-color2); /* Couleur de fond par défaut */
        }

        header {
            background-color: var(--bg-color1); /* Couleur de fond pour l'en-tête */
            color: white;
            padding: 1em 0;
            text-align: center;
        }

        nav {
            background-color: var(--bg-color2); /* Couleur de fond pour la barre de navigation */
            overflow: hidden;
        }

        nav a {
            float: left;
            display: block;
            color: var(--font-color);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: background-color 0.5s;
        }

        nav a:hover {
            background-color: var(--btn-color); /* Couleur de fond au survol pour les liens de navigation */
            color: black;
        }
        
        nav.language-selector {

     
            [lang="twi"] {
                display: block;
            }
            
           
            [lang="fr"] {
                display: none;
            }}

        section {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: var(--bg-color2); /* Couleur de fond pour les sections */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: background-color 0.5s;
        }

        h2 {
            color: var(--font-color); /* Couleur du texte pour les titres de section */
        }

        p {
            line-height: 1.6;
        }

        footer {
            background-color: #D3E0BD; /* Couleur de fond pour le pied de page */
            color: white;
            text-align: center;
            padding: 1em 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

img{
    content: var(--img-src);
    float: right; /* ou float: right; selon votre préférence */
    margin-right: 20px; /* Espace entre l'image et le texte */
    margin-bottom: 10px;
    width: 30%;
    height: 50%;
}




      /*   nav {
            display: flex;
            justify-content: flex-end;
            padding: 20px 0;
          }
          
         
          .theme-switch-wrapper {
            display: flex;
            align-items: center;
            
            em {
              margin-left: 10px;
              font-size: 1rem;
            }
          }
          .theme-switch {
            display: inline-block;
            height: 34px;
            position: relative;
            width: 60px;
          }
          
          .theme-switch input {
            display:none;
          }
          
          .slider {
            background-color: #ccc;
            bottom: 0;
            cursor: pointer;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: .4s;
          }
          
          .slider:before {
            background-color: #fff;
            bottom: 4px;
            content: "";
            height: 26px;
            left: 4px;
            position: absolute;
            transition: .4s;
            width: 26px;
          }
          
          input:checked + .slider {
            background-color: #66bb6a;

          } */


          #animatedBtn {
            background-color: var(--bg-color1);
          padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
    position: relative;
            /* transition: transform 0.3s ease-in-out; */

        }
        
        #animatedBtn.active {
            transform: translate3d(10px,20px,10px); /* Adjust the distance it moves */
        }

